<% if current_admin != nil %>
<h2>All Cohorts</h2>
<small>Search By Name</small>
<%= form_tag("/cohortresults", method: "get") do %>
<%= text_field_tag(:q) %> <br>
<%=submit_tag("Search") %>
<%end%>
<ol>
<% @cohorts.each do |c| %>
<li> <%= link_to "Landing Page for #{c.name}", user_course_cohort_path(c.user_id, c.course_id, c.id) %> <br>
  <% if current_admin != nil %>
    <%= link_to 'Delete Cohort', user_course_cohort_path(c.user_id, c.course_id, c.id), data: {confirm: 'This will delete the cohort.'}, :method=> :delete %>
  </li>
<%end%>
<%end%>
</ol>
<%else%>
<p>You do not have permission to view this page</p>
<%end%>
