<% if current_user != nil || current_admin != nil %>
<h2> Cohort: <%= @cohort.name%> </h2>


<p> Objective: <%= @cohort.description %> </p>
<p> Max Students: <%= @cohort.max_students %> </p>
<p> Start date: <%= @cohort.startdate.strftime("%B %e %Y") %> </p>
<p> End date: <%= @cohort.enddate.strftime("%B %e %Y") %> </p>
<h3>Students Enrolled:</h3>
<% if @cohort.students.empty? %>
<p>No students added yet!</p>
<% else %>
<ol>
<% @cohort.students.each do |s| %>
<li> Name: <%= s.full_name%> <br> ID: <%= s.student_id%> </li>
<%end%>
<%end%>

</ol>

<%= link_to "Back to course", user_course_path(@user.id, @cohort.course_id) %> <br>
<% if current_admin != nil %>
<%= link_to "Create Student", new_user_course_cohort_student_path(@user.id, @cohort.course_id, @cohort.id) %><br>
<%= link_to 'Delete Cohort', user_course_cohort_path(@user.id, @course.id, @cohort.id), data: {confirm: 'This will delete the cohort.', remote:  true}, :method=> :delete, class: "terminate" %>
<%end%>

<%else%>
<p>You do not have access to this.</p>
<%end%>
