<% if current_admin != nil %>
<%= form_for [@user, @course, @cohort, @student] do |u| %>
<%= u.text_field :first_name, placeholder: "Student's First Name", required: true %><br>
<%= u.text_field :last_name, placeholder: "Student's Last Name", required: true %><br>
<label>Birth Date:</label><br>
<%= u.date_select :birthdate, placeholder: "When was the student born?", start_year: (Time.now.year - 150), end_year: (Time.now.year - 14), required: true %><br>
<label>Education Level:</label><br>
<%= u.select :education, [["High School", "High School"], ["College", "College"], ["Masters", "Masters"], ["PHD", "PHD"]], required: true %><br>
<%= u.collection_select :cohort_id, @course.cohorts, :id, :name, {include_blank: true}, required: true %><br>
<%= u.submit "Submit" %>
<%end%>
<%else%>
<p>You do not have access to this.</p>
<%end%>
