<% if current_admin != nil %>
<h2 class="searchTitle">All Students</h2>
<small> <p> Search By First Name </p> </small>
<%= form_tag("/studentresults", method: "get") do %>
<%= text_field_tag(:q) %> <br>
<%=submit_tag("Search") %>
<%end%>
<% if @students.empty? %>
<p>No students added yet!</p>
<% else %>
<% @students.each do |u| %>
<div class="userInfo">
<ul>
<li> <%= link_to "#{u.first_name}'s Profile", user_student_path(u.cohort_id, u.id)%> <br>
  <%= image_tag("https://chart.googleapis.com/chart?chl=#{u.student_id}%0A&chs=200x200&cht=qr&chld=H%7C0") %> <br>
<% if current_admin != nil %>
   <%= link_to 'Delete Student', user_student_path(u.cohort_id, u.id), :method=> :delete, data: {confirm: 'This will delete the student.', remote:  true}, class: "terminate" %>
 </li>
</ul>
</div>
<%end%>
<%end%>
<%end%>
<%else%>
<p>You do not have access to this.</p>
<%end%>
