<%= form_for @user do |u| %>
<%= u.text_field :first_name, placeholder: "Enter user's First Name", required: true %><br>
<%= u.text_field :last_name, placeholder: "Enter user's Last Name", required: true %><br>
<%= u.email_field :email, placeholder: "Enter user's email", required: true %><br>
<label>Birth Date:</label><br>
<%= u.date_select :birthdate, placeholder: "When was the user born?", start_year: 1868, end_year: 2004, required: true %><br>
<label>Salary:</label><br>
<%= u.number_field :salary, min: 0, step: 1000, placeholder: "What is the user's salary?", required: true %><br>
<label>Education Level:</label><br>
<%= u.select :education, [["High School", "High School"], ["College", "College"], ["Masters", "Masters"], ["PHD", "PHD"]], required: true %><br>
<%= u.password_field :password, placeholder: "create a password", required: true %><br>
<small>Minumum Length: 8 Characters</small><br>
<small>Maximum Length: 32 Characters</small><br>
<%= u.password_field :password_confirmation, placeholder: "confirm password", required: true  %><br>
<small>Minumum Length: 8 Characters</small><br>
<small>Maximum Length: 32 Characters</small><br>
<%= u.submit "Register user" %>
<%end%>
