<h2>Editing Instructor <%=@user.first_name%> <%=@user.last_name%> </h2>
<h3>With Email: <%=@user.email%></h3>
<%= render "instructor" %>
<% if current_admin != nil %>
<%= link_to 'Delete', @user, data: {confirm: 'This will delete the user.'}, :method=> :delete %>
<%end%>
