<% if current_admin != nil %>
<h2>All Instructors</h2>
<small>Search By First Name</small>
<%= form_tag("/userresults", method: "get") do %>
<%= text_field_tag(:q) %> <br>
<%=submit_tag("Search") %>
<%end%>
<% if @users == nil %>
<p>No Instructors hired yet!</p>
<% else %>
<% @users.each do |u| %>
<ul>
<li><big> <%= link_to "#{u.full_name}", u %></big> <br>
  <%= image_tag("https://www.barcodesinc.com/generator/image.php?code=#{u.employee_id}&style=197&type=C128B&width=154&height=50&xres=1&font=3") %> <br>
 <small><%= link_to 'Fire Instructor', u, data: {confirm: 'This will terminate the instructor.'}, :method=> :delete %> </small>
 </li>
</ul>
<%end%>
<%end%>
<%else%>
<p>You do not have access to this.</p>
<%end%>
