<% if current_admin != nil %>
<h2 class="searchTitle">All Instructors <em><small>click for courses</small></em></h2>
<small> <p> Search By First Name </p> </small>
<%= form_tag("/userresults", method: "get") do %>
<%= text_field_tag(:q) %> <br>
<%=submit_tag("Search") %>
<%end%>
<% if @users == nil %>
<p>No Instructors hired yet!</p>
<% else %>
<% @users.each do |u| %>
<div class="userInfo">
<ul>
<li><big> <%= link_to "#{u.full_name}", u %></big> <br>
  <%= image_tag("https://chart.googleapis.com/chart?chl=#{u.employee_id}%0A&chs=200x200&cht=qr&chld=H%7C0") %> <br>
 <small><%= link_to 'Fire Instructor', u, data: {confirm: 'This will terminate the instructor.'}, :method=> :delete %> </small>
 </li>
</ul>
</div>
<%end%>
<%end%>
<%else%>
<p>You do not have access to this.</p>
<%end%>
