<h2>Welcome <%= @user.first_name%> <%= @user.last_name%> </h2>
<h3>Instructor Profile</h3>
<h3>Employee ID: <%=@user.employee_id%></h3>

<ul>
  <li><%= link_to "Edit Profile", edit_user_path %></li>
</ul>

<h3>Courses assigned so far:</h3>
<% if @user.courses.empty? %>
<p>No courses added yet!</p>
<% else %>
<% @user.courses.each do |courses| %>
<h5><big><%= link_to "#{courses.name}", user_course_path(@user.id, courses.id) %></big> <small> <%= link_to "Edit Course", edit_user_course_path(@user.id, courses.id) %> </small>
</h5>
<%end%>
<%end%>
<% if current_admin != nil %>
<hr>
<%= link_to "Create Course", new_user_course_path(@user.id) %>
<%end%>
