<h1>Scared Heart Admin Panel</h1>

<%= link_to "Add Instructor", instructors_register_path %> <br>
<%= link_to "Show All Instructors", instructors_index_path %> <br>
<%= link_to "Create a new Course", create_course_path %> <br>
<%= link_to "Show Courses", course_index_path %> <br>


<%= link_to "Log In", login_path %>
