<h2> <%= @course.name%> Landing Page </h2>


<p> <%= @course.description %> </p>
<p> Total Hours: <%= @course.hours %> </p>

<% @course.students.each do |s| %>
<ol>
<li> <%= s.full_name%> </li>
<li> <%= s.student_id%> </li>
</ol>
<%end%>
<% if current_admin != nil %>
<p><%= link_to "Edit Course", edit_user_course_path %></p>
<%end%>
