<h2> <%= @course.name%> Landing Page </h2>


<p> Description: <%= @course.description %> </p>
<p> Total Hours: <%= @course.hours %> </p>

<h3>Cohorts for this course</h3>
<% if @course.cohorts.empty? %>
<p>No cohorts added yet!</p>
<% else %>
<% @course.cohorts.each do |cohorts| %>
<%= link_to "#{cohorts.name}", user_cohort_path(@course.id, cohorts.id) %> <%= link_to "Edit Cohort", edit_user_cohort_path(@course.id, cohorts.id) %><br>
<br>
<%end%>
<%end%>

<% if current_admin != nil %>
<p><%= link_to "Add Cohort", new_user_cohort_path(@course.id) %></p>
<%end%>
