<% if current_user != nil || current_admin != nil %>
<h2> "<%= @course.name%>" Course Landing Page </h2>


<p> Course Objective: <%= @course.description %> </p>
<p> Total Credits: <%= @course.hours %> </p>

<h3>Cohorts for this course</h3>
<% if @course.cohorts.empty? %>
<p>No cohorts added yet!</p>
<% else %>
<% @course.cohorts.each do |cohorts| %>
<h5><big><%= link_to "#{cohorts.name}", user_course_cohort_path(@user.id, @course.id, cohorts.id) %> </big> / <small> <%= link_to "Edit Cohort", edit_user_cohort_path(@course.id, cohorts.id) %></small><br>
</h5>
<%end%>
<%end%>
<%= link_to "Back to Instructor's Profile", user_path(@course.user_id) %>
<% if current_admin != nil %>
<p><%= link_to "Add Cohort", new_user_course_cohort_path(@user.id, @course.id) %></p>
<%= link_to 'Delete Course', user_course_path(@course.user_id, @course), data: {confirm: 'This will delete the course.', remote:  true}, :method=> :delete, class: "terminate" %>
<%end%>
<%else%>
<p>You do not have access to this.</p>
<%end%>
