<h1>Scared Heart Admin Panel</h1>
<% if logged_in? %>
<% if current_user.admin? %>
<%= link_to "#{current_user.first_name}'s Profile", current_user %> <br>
<%= link_to "Add Instructor", instructors_register_path %> <br>
<%= link_to "Show All Instructors", instructors_index_path %> <br>
<%= link_to "Create a new Course", create_course_path %> <br>
<%= link_to "Show Courses", course_index_path %> <br>
<%=link_to "Log Out", logout_path, method: :delete %>


<%else%>
<%= link_to "#{current_user.first_name}'s Profile", current_user %> <br>
<%= link_to "Show Courses", course_index_path %> <br>
<%=link_to "Log Out", logout_path, method: :delete %>

<%end%>

<%else%>

<h2>Log In</h2>
<%= form_for(:session, url: login_path) do |f| %>
<%= f.email_field :email, placeholder: "Email", required: true %> <br>
<%= f.password_field :password, placeholder: "Password", required: true %> <br>
<%= f.submit "Log In" %>
<%end%>

<small>If you do not have an account, contact administrator.</small>

<%end%>
