<h1>Scared Heart Admin Panel</h1>
<% if current_admin != nil%>
<%= link_to "#{current_admin.first_name}'s Profile", current_admin %> <br>
<%= link_to "#{current_admin.first_name}'s Instuctors", instructors_index_path %> <br>
<%= link_to "Add Instructor", instructors_register_path %> <br>
<!-- <%#=# #link_to "Add Student", students_new_path %> <br> -->
<%= link_to "Show All Students", students_index_path %> <br>
<!-- <%#=# #link_to "Create a new Course", courses_new_path %> <br> -->
<%= link_to "Show All Courses", courses_index_path %> <br>
<%=link_to "Log Out", logout_path, method: :delete %>


<%else%>
<% if current_user != nil%>
<%= link_to "#{current_user.first_name}'s Profile", current_user %> <br>
<%= link_to "Show Courses", course_index_path %> <br>
<%=link_to "Log Out", logout_path, method: :delete %>
<%else%>

<%=link_to "Instructor Login", login_path%> <br>
<%=link_to "Admin Login", adminlogin_path%>

<%end%>
<%end%>
