<!DOCTYPE html>
<html>
  <head>
    <title>Panel</title>
<link href="https://fonts.googleapis.com/css?family=Nunito:600" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <%= render 'layouts/header' %>
  </nav>
    <%= render 'shared/messages' %>
<div class="mainContent">
    <%= yield %>
  </div>
  <footer>
    This is a footer
  </footer>
  </body>
</html>
